main.blog div.top-wrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 0 auto;
}

main.blog div.img-card {
  display: flex;
  justify-content: flex-end;
  min-height: 250px;
  width: 80vw;
  background-image: url(../assets/dollars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main.blog div.title-card {
  color: white;
  background-color: rgba(60, 107, 106, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0;
  padding: 30px;
  flex-basis: 50%;
}

main.blog .text-card {
  flex-basis: 50%;
}

main.blog div.blog-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  width: 90vw;
  max-width: 100%;
  flex-wrap: wrap;
}

main.blog div.buttons {
  display: flex;
}

main.blog div.blog-button {
  min-height: 40px;
  min-width: 200px;
  background-color: var(--main-color-light);
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.blog div.clinic-tag {
  min-width: 600px;
  min-height: 40px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main.blog .text-nav-blog {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

main.blog a.text-nav-blog {
  color: var(--main-color);
}

main.blog h4.text-nav-blog {
  color: var(--main-color-light);
  margin: 0;
}

main.blog div.mid-wrapper {
  display: flex;
  align-items: center;
}

main.blog div.cards {
  display: flex;
}

main.blog div.card {
  margin-right: 10px;
}

main.blog div.ad-mid {
  border: 2px solid black;
  height: 390px;
  width: 200px;
  margin: 15px 20px;
}

main.blog div.bot-wrapper {
  display: flex;
  justify-content: space-between;
}

main.blog div.mais {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main.blog div.mais span {
  background-color: var(--main-color-light);
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}

main.blog div.ad-responsive {
  min-width: 70vw;
  min-height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}