main.blog div.top{
  margin: 40px 0;
}

main.blog .tag {
  text-transform: uppercase;
  font-family: "Roboto Black";
  color: #3C6B6A;
  background-color: rgba(139, 247, 246, 0.8);
  height: fit-content;
  width: fit-content;
  padding: 0 10px;
}

main.blog div.img-first {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 0;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
}

main.blog div.title-card {
  font-family: "Roboto Black";
  color: #8BF7F6;
  background-color: rgba(60, 107, 106, 0.8);
  width: 40%;
  height: fit-content;
  margin: 50px 50px 0 0;
  padding: 10px 15px;
  text-align: right;
}

main.blog .post-top article {
  height: 100%;
}

main.blog .post-top .thumb {
  height: 45%;
}

main.blog .description {
  height: 55%;
  padding: 20px;
}

main.blog .description h3 {
  font-size: 18px;
}

main.blog .description p {
  font-size: 14px;
}

main.blog .post-top .description small {
  font-size: 12px;
  font-family: "Roboto Black";
}

main.blog div.blog-nav {
  margin-bottom: 30px;
}

main.blog div.blog-nav .btn {
  padding: 8px 0;
  margin-right: 10px;
  font-size: 13px;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

main.blog div.blog-button {
  background-color: var(--main-color-light);
  margin-right: 10px;
}

main.blog div.clinic-tag {
  font-size: 15px;
}

main.blog .text-nav-blog {
  font-size: 15px;
}

main.blog a.text-nav-blog {
  color: var(--main-color);
}

main.blog h4.text-nav-blog {
  color: var(--main-color-light);
  margin: 0;
}

main.blog div.mid-wrapper {
  display: flex;
  align-items: center;
}

main.blog div.cards {
  display: flex;
}

main.blog div.card {
  margin-right: 10px;
}

main.blog div.ad-mid {
  border: 2px solid black;
  height: 390px;
  width: 200px;
  margin-left: auto;
}


main.blog .main-card .description {
  color: #3C6B6A;
}

main.blog div.mais {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main.blog div.mais span {
  background-color: var(--main-color-light);
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}

main.blog div.ad-responsive {
  min-width: 70vw;
  min-height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}