main.clinica {
  width: 80vw;
  margin: 0 auto;
}

main.clinica h1 {
  text-align: center;
  margin-bottom: 5vh;
}

main.clinica li {
  text-transform: none;
  font-weight: normal;
  padding-top: 10px;
}

main.clinica span {
  font-weight: bold;
}

main.clinica div.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

main.clinica div.img img {
  height: 200px;

}

main.clinica div.txt {
  padding: 60px;
}

main.clinica ol li {
  list-style-position: inside;
}

main.clinica form {
  margin-bottom: 5vh;
}