main.curso h1,
main.curso h2,
main.curso h3 {
  color: var(--main-color);
  font-family: Roboto Black;
}

main.curso div.img-head {
  height: 250px;
  background-image: url(../assets/low-angle-photography-of-building-structure-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
}

main.curso div.lateral {
  color: var(--main-color);

}

main.curso div.curso {
  width: 250px;
  height: 250px;
  margin: 10px;
  margin-top: -180px;
  background-color: var(--main-color);
}

main.curso div.thumb {
  height: 150px;
  width: 100%;
  background-image: url(../assets/curso01.svg);
}

main.curso div.description {
  color: var(--main-color-light);
  padding: 10px;
}

main.curso div.description h1 {
  color: var(--main-color-light);
  font-size: 35px;
}

main.curso div.button {
  width: 250px;
  margin: 10px;
  background-color: var(--main-color-light);
  color: var(--main-color);
  text-align: center;
  height: 70px;
}

main.curso div.side-content {
  margin-left: 15px;
}

main.curso div.side-content li {
  margin-left: 15px;
}

main.curso div.garantia img {
  width: 180px;
  padding: 20px;
}

main.curso div.pagamentos span {
  font-weight: bold;
}

main.curso div.pagamentos li {
  margin-top: 10px;
}