main.curso h1,
main.curso h2,
main.curso h3 {
  color: var(--main-color);
  font-family: "Roboto Black";
}

main.curso div.banner-post {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 30px 80px;
}

main.curso div.lateral {
  color: var(--main-color);
}

main.curso div.curso {
  width: 100%;
  /* height: 250px; */
  margin: -180px 0 0;
  background-color: var(--main-color);
}

main.curso div.thumb {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main.curso div.description {
  color: var(--main-color-light);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main.curso div.description h1 {
  color: var(--main-color-light);
  font-size: 30px;
  font-family: "Roboto Black"
}

main.curso aside {
  margin-bottom: 50px;
}

main.curso aside .btn.btn-primary {
  width: 100%;
  margin: 30px 0;
  font-size: 22px;
}

main.curso aside ul {
  list-style: none;
  padding: 0;
}

main.curso aside section {
  padding-left: 10px;
  border-left: 3px solid var(--main-color);
  color: var(--main-color);
  margin: 0 0 30px;
}

main.curso aside a:any-link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 15px;
}

main.curso aside h4 {
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto";
}

main.curso .conteudo h2 {
  margin: 20px 0;
}

main.curso .conteudo p {
  line-height: 30px;
  margin: 15px 0;
}

main.curso aside li {
  margin: 10px 0;
}

main.curso div.garantia img {
  width: 200px;
  padding: 20px;
}