div.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
}

div.img-card {
  width: 100%;
  min-height: 250px;
  margin: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}

div.content-card {
  color: white;
  background-color: rgba(60, 107, 106, 0.8);
  margin: 30px 30px 0;
  padding: 25px 35px;
  width: 700px;
  max-width: 100%;
  /* flex-wrap: wrap; */
}

.text-card p {

  flex: 2;

}

.banner h1 {
  font-family: "Roboto Black";
  color: #8BF7F6;
  font-size: 45px;
  line-height: 80px;
}

.button-card {
  flex: 1;
}

.text-card a {
  margin: 10px;
}

section.intro-text {
  margin: 70px auto;
}

section.intro-text p {
  font-size: 20px;
}

section.intro-text .color-primary {
  font-weight: bold;
  color: var(--main-color);
}

section.about,
section.proposta {
  background-color: var(--main-color);
  color: #fff;
  padding: 80px 0 60px;
}

section.about h2,
section.proposta h2 {
  font-family: "Roboto Black";
  color: #8BF7F6;
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 40px;
}

section.about p,
section.proposta p {
  font-size: 18px;
  line-height: 40px;
}

section.proposta .btn {
  margin: 30px 0;
}

div.ceo-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ceo-img {
  max-width: 100%;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  display: block;
  border-radius: 50%;
}

div.diferenciais .text {
  width: 800px;
}


.about a {
  margin: 60px 10vw;
}