:root {
  --menu-color: #474640;
  --main-color: #3C6B6A;
  --main-color-light: #7FDEDD;
}

* {
  padding: 0;
  /* border: 1px solid red; */
}

ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  margin: 20px 100px;
}

div.adHeader {
  height: 90px;
  width: 978px;
  border: solid black;
}

nav.bg-light {
  margin-bottom: 20px;
  background-color: var(--menu-color) !important;
}

a.nav-link {
  color: white !important;
}

a.active {
  color: var(--main-color-light) !important;
}


img.icon {
  height: 30px;
  width: 30px;
}

div.social-media {
  margin-right: 5vw;
}

div.social-media a {
  padding: 0 3px;
}

footer {
  background-color: var(--menu-color);
  color: var(--main-color-light);
}

/* footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

footer .contato {
  padding: 20px 5vw;
}

footer .navigation {
  margin-top: 30px;
}

footer .navigation ul {
  margin-left: 10px;
}

footer .navigation li {
  font-weight: normal;
  font-size: small;
}