:root {
  --menu-color: #474640;
  --main-color: #3C6B6A;
  --main-color-light: #7FDEDD;
}

* {
  padding: 0;
  /* border: 1px solid red; */
}

li {
list-style: none;
text-transform: uppercase;
font-weight: bold;
}

body {
  width: 90vw;
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  height: 130px;
  width: 160px;
  margin: 20px 100px;
}

div.adHeader {
  height: 90px;
  width: 978px;
  border: solid black;
}

nav {
  background-color: var(--menu-color);
  margin-bottom: 20px;
}

img.icon {
  height: 30px;
  width: 30px;
}

div.intro-card {
  display: flex;
  justify-content: center;
}

div.img-card {
  height: 250px;
  width: 80vw;
  background-image: url(/assets/headway-5QgIuuBxKwM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

div.text-card {
  color: white;
  background-color: rgba(60, 107, 106, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.intro-text {
  margin-top: 50px;
  font-size: larger;
  margin-bottom: 50px;
}

div.intro-text span {
  font-weight: bold;
  color: var(--main-color-light);
}

section.about {
  background-color: var(--main-color);
  color: white;
  font-size: large;
}

div.diferenciais{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.ceo-img {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ceo-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

div.diferenciais .text {
  width: 800px;
}

div.proposta {
  width: 70vw;
  margin: 0 auto;
}

.about button {
  margin: 60px 10vw;
}

footer {
  background-color: var(--menu-color);
  color: var(--main-color-light);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .contato {
  padding: 20px 5vw;
}

footer .navigation {
  margin-top: 30px;
}

footer .navigation ul {
  margin-left: 10px;
}

footer .navigation li {
  font-weight: normal;
  font-size: small;
}