:root {
  --menu-color: #474640;
  --main-color: #3C6B6A;
  --main-color-light: #7FDEDD;
}

* {
  padding: 0;
  /* border: 1px solid red; */
}

li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  width: 90vw;
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  height: 130px;
  width: 160px;
  margin: 20px 100px;
}

div.adHeader {
  height: 90px;
  width: 978px;
  border: solid black;
}

nav {
  background-color: var(--menu-color);
  margin-bottom: 20px;
}

img.icon {
  height: 30px;
  width: 30px;
}



footer {
  background-color: var(--menu-color);
  color: var(--main-color-light);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .contato {
  padding: 20px 5vw;
}

footer .navigation {
  margin-top: 30px;
}

footer .navigation ul {
  margin-left: 10px;
}

footer .navigation li {
  font-weight: normal;
  font-size: small;
}