/* div.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
} */

main.treinamento div.img-card {
  min-height: 250px;
  background-image: url(../assets/scott-graham-5fNmWej4tAA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

main.treinamento div.content-card {
  color: white;
  background-color: rgba(60, 107, 106, 0.8);
  align-items: center;
  margin: 30px 30px 0;
  padding: 30px;
  width: 700px;
}

main.treinamento .text-card {
  padding: 20px;
}

main.treinamento section.cursos {
  display: flex;
  padding: 30px;
}

main.treinamento section.cursos h2 {
  font-size: xx-large;
  color: var(--main-color);
  margin: 30px;
}

main.treinamento section span {
  background-image: url(../assets/christopher-campbell-rDEOVtE7vOs-unsplash.jpg);
  background-size: cover;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 10px 10px 0;
}

main.treinamento section span img {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 10px;
}

main.treinamento div.content-wrap {
  display: flex;
  flex-wrap: wrap;
}

main.treinamento div.person {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  margin: 0;
}

main.treinamento div.quem-mais {
  min-height: 90px;
  border: 1px solid black;
  margin: 5px;
}

main.treinamento div.garantia {
  justify-content: center;
}

main.treinamento div.content-wrap img.garantia-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

main.treinamento div.content-wrap p {
  font-size: large;
}