main.treinamento h1,h2,h3,h4 {
  font-family: Roboto Black;
}

main.treinamento div.img-card {
  min-height: 250px;
  background-image: url(../assets/scott-graham-5fNmWej4tAA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

main.treinamento div.content-card {
  color: white;
  background-color: rgba(60, 107, 106, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0;
  padding: 30px;
  width: 40%;
}

main.treinamento .text-card {
  padding: 20px;
}

main.treinamento section.cursos {
  display: flex;
  padding: 30px;
}

main.treinamento section.cursos h2 {
  font-size: xx-large;
  color: var(--main-color);
  margin: 30px;
}

main.treinamento section.cursos div.thumb {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

main.treinamento section.cursos div.description {
  height: 250px;
  padding: 10px;
}

main.treinamento section.cursos div.description h3 {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 50px;
  min-height: 70px;
}

main.treinamento section.cursos div.description p {
  font-size: 14px;

}

main.treinamento div.person {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

main.treinamento div.person div.person-img {  
  background-size: cover;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 10px 10px 0;
}

main.treinamento div.person span {
  background-image: url(../assets/ic_play_circle_filled_24px.svg);
  background-size: cover;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 10px;
}

main.treinamento div.quem-mais {
  border: 1px solid black;
  height: 90px;
}

main.treinamento div.garantia {
  justify-content: center;
}

main.treinamento div.garantia div.garantia-logo {
  background-image: url(../assets/img-119702-20170424153829.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

main.treinamento div.content-wrap p {
  font-size: large;
}

